<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />
	<context:component-scan 
		base-package="com.bitacademy.myportal.controller" />

	<!-- 스프링은 기본적으로 모든 요청을 DispatcherServlet이 처리
		정적 자원 제공을 위해서는 정적 자원의 처리를
		DefaultServlet에게 위임해야 한다 -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler /><!-- 정적 자원 처리 담당 -->
	
	<!-- View Resolver
		전달받은 ViewName을 기반으로 적절한 실제 View 객체를 찾아주는 역할 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- ViewName의 접두어 -->
		<property name="prefix"
			value="/WEB-INF/views/" />
		<!-- 접미어 -->
		<property name="suffix"
			value=".jsp" />
		<!-- ViewResolver는 여러 개 등록될 수 있고
			우선순위 지정 가능 -->
		<property name="order" value="1" />
	</bean>
</beans>